html{
    font-family: 'Verdana';
    background-color:lightskyblue;
}

/* Styling Header */
header{
display: grid;
grid-template-columns: 40% 60%;
background-color: green;

}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}
nav ul li{
    background-color: White;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}