body{
  margin: 0px;
}
.head{
  height: 20vh;
  width: 100%;
  background-color: rgb(196, 207, 181);
}

.body{
  height: 80vh;
  width: 100%;
}


/******** Browse form  ************/

.browseForm{
  display: flex;
}

.from,.to,.date ,.travelers{
  display: inline-flex;
  border: 2px solid #0b0b0b;
  border-radius: 4px;
  overflow: hidden;
  height: 35px;
  width: 300px;
  font-size: 22px;
  cursor: pointer;

}


.icon{
  display: flex;
  align-items: left;
  justify-content: center;
  height: 25px;
  width: 25px;
  padding-left: 10px;
}

.fromInput,.toInput, .selectInput{
  display: flex;
  border: none;
  width: 90%;
  padding-left: 10px;
}


.options{
  display: flex;
  position: absolute;
  top: 32%;
  left: 51%;
  padding: 10px;

}